#bodyStyle{
    background-color: Ghostwhite;
    border: 30px;
    color: rgb(64,64,64);
    margin-bottom:0%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 0px;
    border: 50px solid white;
} 
#myNav{
    background-color: darkslateblue;
}
.BlogName{
    font-family: "Chalkduster";
    font-size: 70px;
    text-align: center;
}
#date{
    font-family: "Gill Sans";
    font-size: 20px;
    text-align: center;
}
#titleOfPage{
    font-family: "Gill Sans";
    font-size: 24px;
    text-align: center;
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: 40%;
}
.textStyle{
   font-family: Courier; 
}
#imageText{
    font-family: Courier;
    font-size: 15px;
    text-align: center;
}
.flex {
    display: flex;
    justify-content: left;
}
.footer{
    font-family: garamond !important;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: left;
}
#addressbody{
    font-family: Courier;
    font-size: 15px;
    text-align: center;
}
#imageInRecipe{
    width: 100%;
    height: 100%;
}
p{
    font-family: Courier;
    font-size: 15px;
    text-align: center; 
}
li{
    font-family: Courier;
    font-size: 15px;
}
a{
    font-family: "Gill Sans";
    font-size: 17px; 
    color:"Chalkduster";
    text-align: center;
}
#headerInContact{
    font-family: "Gill Sans";
    font-size: 30px; 
    color:"Chalkduster";
    text-align: center;
}